
.app__hero{
    // width: 100vw;
    // background-image: url(../../assets/images/hero-background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.app__hero-title{
    width: 100%;
}

.app__hero-photoWall{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(18, 80px);
    grid-template-rows: repeat(12, 1fr);
    margin-left: -200%;
    div {
            border-radius: 12px;
        };
    @media screen and (min-width: 768px){
        grid-template-columns: repeat(18, 50px);
        grid-template-rows: repeat(12, 1fr);
        margin-left: 0%;
    }
    
    
    
}
.grid-box-2{
    background-image: url(../../assets/images/image2.jpg);
}
.grid-box-3{
    background-image: url(../../assets/images/image2.jpg);
}
.grid-box-4{
    background-image: url(../../assets/images/image4.jpg);
}
.grid-box-5{
    background-image: url(../../assets/images/image5.jpg);
}
.grid-box-6{
    background-image: url(../../assets/images/image6.jpg);
}
.grid-box-7{
    background-image: url(../../assets/images/image7.jpg);
}
.grid-box-8{
    background-image: url(../../assets/images/image8.jpg);
}
.grid-box-9{
    background-image: url(../../assets/images/image9.jpg);
}
