.app__hero-section{
    background-image: url(../../assets/images/hero-bg-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -25vh;

    @media screen and (min-width: 1200px) {
        background-image: url(../../assets/images/hero-bg.svg);
        background-size: contain;
        background-position: top right;
    }
}
.app__hero{
    z-index: 1;
}
.app__hero-title{
    width: 100%;
}

.app__hero-photoWall{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(18, 80px);
    grid-template-rows: repeat(12, 1fr);
    margin-left: -200%;
    div {
            border-radius: 12px;
        };
    @media screen and (min-width: 768px){
        grid-template-columns: repeat(18, 50px);
        grid-template-rows: repeat(12, 1fr);
        margin-left: 0%;
    }
    
    // grid-template-columns: 0.25fr 0.25fr 0.18fr 0.16fr 0.16fr;
    // grid-template-rows: 155px;
    // gap: 30px;
    // grid-template-areas: 
    // "content1 image1 image1 content2 content2"
    // "content1 image1 image1 image2 image3"
    // "content1 image4 image5 image5 content6"
    
    
    // ;
    
}
.grid-box-2{
    background-image: url(../../assets/images/image2.jpg);
}
.grid-box-3{
    background-image: url(../../assets/images/image2.jpg);
}
.grid-box-4{
    background-image: url(../../assets/images/image4.jpg);
}
.grid-box-5{
    background-image: url(../../assets/images/image5.jpg);
}
.grid-box-6{
    background-image: url(../../assets/images/image6.jpg);
}
.grid-box-7{
    background-image: url(../../assets/images/image7.jpg);
}
.grid-box-8{
    background-image: url(../../assets/images/image8.jpg);
}
.grid-box-9{
    background-image: url(../../assets/images/image9.jpg);
}
