
.app__detial{
    // width: 100vw;
    // background-image: url(../../assets/images/detial-background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.app__detial-title{
    width: 100%;
}
.app__detial-photoBox{
    @media screen and (max-width:1200px) {
        width: 800px;
    }
}
.app__detial-photoWall{
    display: grid;
    grid-template-columns: repeat(18, minmax(0, 80px));
    grid-template-rows: repeat(12, minmax(0, 50px));
    gap: 15px;
    div{
        border-radius: 12px;
    };
}
.grid-box-2{
    background-image: url(../../assets/images/image2.jpg);
}
.grid-box-3{
    background-image: url(../../assets/images/image2.jpg);
}
.grid-box-4{
    background-image: url(../../assets/images/image4.jpg);
}
.grid-box-5{
    background-image: url(../../assets/images/image5.jpg);
}
.grid-box-6{
    background-image: url(../../assets/images/image6.jpg);
}
.grid-box-7{
    background-image: url(../../assets/images/image7.jpg);
}
.grid-box-8{
    background-image: url(../../assets/images/image8.jpg);
}
.grid-box-9{
    background-image: url(../../assets/images/image9.jpg);
}
