.app__nav-gridIcon{
    font-size: 24px;
    color: var(--primary-btn-purple);
    padding: 0px 12px;
    
}
.app__nav-dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: var(--icon-yellow);
    border-radius: 50%;

    margin-left: 28px;
}